.track-page {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Kalam", cursive; */
    margin-top: 10px;
}

.track-page h1{
    text-align:center;
    margin-bottom:30px;
    color: #a40000;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    /* font-family: "Kalam", cursive; */
}

/* Tracking Number */

.tracking-number{
    text-align:center;
    font-size:18px;
    margin-bottom:15px;
}

.tracking-number span{
    margin-left:10px;
    color:#a40000;
    font-weight:bold;
    /* font-family: "Kalam", cursive; */
}

/* Progress */

.progress-container{
    display:flex;
    justify-content:space-between;
    position:relative;
    margin:60px 0;
}

.progress-container::before{
    content:"";
    position:absolute;
    top:20px;
    left:0;
    right:0;
    height:4px;
    background:#ddd;
    z-index:0;
}

.step{
    width:16%;
    text-align:center;
    position:relative;
    z-index:2;
}

.circle{
    width:40px;
    height:40px;
    margin:auto;
    border-radius:50%;
    background:#d8d8d8;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:bold;
    margin-bottom:10px;
}

.circle svg{
    /* width: 200px; */
    /* color: red; */
    font-size: 22px;
}

.step.active .circle svg{
    /* background:#1ea64bdf; */
    color: #a40000;
    /* border: 2px solid #1ea64b; */
}

.step.active .circle{
    /* background:#1ea64bdf; */
    border: 2px solid #a40000;
    background-color: white;
}

.step p{
    font-size:13px;
    font-weight:600;
}

/* Status */

.status-box{
    background:#fff;
    padding:30px;
    border-left:6px solid #a40000;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    margin-bottom:40px;
}

.status-box .shap{
        color:#a40000;

    margin-bottom:8px;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: sans-serif; */
}

.status-box .hyped{
    /* color:#a40000; */
    /* color: #777; */
        color:#777;

    text-transform:capitalize;
    margin-bottom:10px;
}

.status-box .goat{
    color: #777;
    /* text-transform:capitalize; */
    margin-bottom:8px;
}

.status-box .menthol{
color:#a40000;    /* text-transform:capitalize; */
    margin-bottom:8px;
}

/* Shipment Card */

.shipment-card{
    background:white;
    border-radius:10px;
    box-shadow:0 8px 30px rgba(0,0,0,.08);
    overflow:hidden;
}

.row{
    display:flex;
    justify-content:space-between;
    padding:18px 25px;
    border-bottom:1px solid #eee;
}

.row:last-child{
    border-bottom:none;
}

.row strong{
    color:#555;
}

.row span{
    color:#111;
}

/* Loading */

.loading-container{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.spinner{
    width:70px;
    height:70px;
    border:7px solid #ddd;
    border-top:7px solid rgb(160, 97, 97);
    border-radius:50%;
    animation:spin .8s linear infinite;
}

.loading-container h2{
    margin-top:20px;
    color:#444;
    font-family: "Kalam", cursive;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}

/* Error */

.error-box{
    text-align:center;
    margin-top:120px;
    color:red;
}

/* Responsive */


@media (max-width: 768px) {

  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    margin-left: 20px;
  }

  /* Vertical line */
  .progress-container::before {
    display: block;
    content: "";
    position: absolute;
    left: 18px;
    top: 0;
    width: 4px;
    height: 100%;
    background: #ddd;
  }

  .step {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    position: relative;
  }

  .circle {
    margin: 0;
    flex-shrink: 0;
    z-index: 2;
  }

  .step p {
    margin: 0;
    font-size: 15px;
  }

  .row {
    flex-direction: column;
    gap: 8px;
  }
}




/* @media(max-width:768px){

.progress-container{
    flex-wrap:wrap;
    gap:30px;
}

.progress-container::before{
    display:none;
}

.step{
    width:45%;
}

.row{
    flex-direction:column;
    gap:8px;
}

} */